{{#link-to "application"}}<h2 id="title">Welcome to ember</h2>{{/link-to}}
{{ link-to "Papers" "papers" }}<br>
{{ link-to "Staplers" "staplers" }}<br><br>
{{#office-stapler pressed=(action "pressed") as |prop|}}
	Favourite Number:{{prop.mynum}}<br>
	Color:{{prop.color}}<br>
    Number of Staples:{{prop.staples}}<br>
	Inside Component
{{/office-stapler}}

<h1>Component Example</h1>
{{ template-names }}<br>
{{ fruit-list fruits = "aple orange grape"}}<br><br>
{{ fruit-list fruits = "aple orange banana"}}<br><br>


<h1>Second Exmaple</h1>
{{#office-supplies as |office|}}
	{{#office.stapler as |prop|}}<br>
		{{prop.mynum}}<br>
		{{prop.color}}<br>
	{{/office.stapler}}
	{{office.chair}}<br>
{{/office-supplies}}<br><br>


{{#each model as |book|}}
	Title:{{book.title}}<br>
	Author:{{book.author}}<br>
	Year:{{book.year}}<br>
{{/each}}<br><br>
{{outlet}}